#myCanvas {
    position:fixed;
    top:0;
    left:0;
    width: 100%;
    overflow: hidden;
}
#content {
    z-index: 10;
    position: relative;
    background-color: rgba(0,0,0,0.6);   
}

#coffees{
    overflow-y: auto;
    max-height: 28em;
}

/* width */
::-webkit-scrollbar {
width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
background: rgba(0,0,0,0); 
}

/* Handle */
::-webkit-scrollbar-thumb {
background: rgba(0,0,0,0.6); 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
background: rgba(0,0,0,0.7);
}

.btn-blue {
    background-color: #88c6db;
    border: 1px solid #88c6db;
    border-radius: 5px;
    color: #ffffff;
}

.vis-font {
    color: #88c6db;
}

#coffees {
    overflow-y: auto;
    max-height: 28em;
}

#options {
    display: none;
    position: fixed;
    top: 3em;
    left:25%;
    width:50%;
    z-index: 100;
    height:30em;
    background: rgba(255,255,255,0.9)
}

#optionsButton{
    position: relative;
    font-size:1.5em;
    margin:-1em;
    padding:-1em;
    right:.5em;
}