#myCanvas {
    position:fixed;
    top:0;
    left:0;
    width: 100%;
    overflow: hidden;
}
#content {
    z-index: 10;
    position: relative;
    background-color: rgba(0,0,0,0.6);
    
}

/* width */
::-webkit-scrollbar {
width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
background: rgba(0,0,0,0); 
}

/* Handle */
::-webkit-scrollbar-thumb {
background: rgba(0,0,0,0.6); 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
background: rgba(0,0,0,0.7);
}

.btn-blue {
    background-color: #88c6db;
    border: 1px solid #88c6db;
    border-radius: 5px;
    color: #ffffff;
}

.vis-font {
    color: #88c6db;
}